@page "/apidemo"
@inject IHttpClientFactory factory

<h3>webapi</h3>

@if (!string.IsNullOrWhiteSpace(ErrorMsg))
{
    <div class="alert-danger">@ErrorMsg</div>
}
<div class="alert-primary">UserId = @Id</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var githubOwner = new List<Owner>();
        try
        {
            var client = factory.CreateClient("github");            
            var response = await client.GetAsync("users/rameshkunwar/repos");
            response.EnsureSuccessStatusCode();            

            var content = await response.Content.ReadAsAsync<List<Root>>().ConfigureAwait(false);

            if(content.Count > 0)
            {
                var firstEle = content.FirstOrDefault();
                if(firstEle is not null)
                {
                    Id = firstEle.Id;                  
                }
            }
            else
            {
                ErrorMsg = "content resulted null. Most probably deserialization did not work, check it";
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            ErrorMsg = e.Message;
        }
    }

    [Parameter]
    public string? ErrorMsg { get; set; } 

    [Parameter]
    public int Id { get; set; }
}
